article h1 {
  color: pink;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 40px;
	font-weight: bold;
}

article p:first-of-type {
	opacity: 1;
	color: gray;
}

article h2 {
	margin-bottom: 10px;

  font-family: "PT Sans", sans-serif;
  font-size: 30px;
	font-weight:bold;
}

article h3 {
	margin-bottom: 10px;

	font-family: "PT Sans", sans-serif;
	font-size: 25px;
	font-weight:bold;
}

article h4 {
	margin-bottom: 10px;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	font-weight:bold;
}

article p:first-of-type {
	margin: 9px 0 45px 0;

  font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 1,5;
}

article p {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: normal;

}

article p {
	margin-bottom: 52px
}

a {
	color: inherit;
}

body {
	width: 700px;
	margin-top: 68px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

article li {
  margin: 2px 0 5px 0;

	list-style-type: disc;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;
}

article li {
	margin: 7px 0 45px 0;

	list-style-type: disc;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;
}

article blockquote {
	margin: 7px 0 45px 0;
	padding-right: 20px;
	padding-left: 20px;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	font-style: italic;
	line-height: 1,5;
}

article blockquote::before {
	content: '\201c';

	font-size: 35px;
}

article blockquote::after {
	content: '\201d';

	font-size: 35px;
}

article h1 {
	margin-bottom: 15px;
}

nav {
  position: fixed;
  top: 50px;
  left: 10px;

  width: 300px;

  opacity: 0.1;

  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}

nav:hover {
  transition: opacity 300ms linear;

  opacity: 1;
}

nav > ul > li:first-of-type {
  font-weight: bold;
}

nav li {
  margin-bottom: 20px;
}

nav ul li ul {
  margin-top: 20px;

  color: rgba(0, 0, 0, 0.5);
}

nav ul li ul li:hover {
  padding: 3px 0 3px 5px;

  transition: .3s linear;

  color: rgba(0, 0, 0, 0.8);
}

nav > ul > li {
  color: rgba(0, 0, 0, 0.8);
}

nav > ul > li:hover {
  padding: 3px 0 3px 5px;

  transition: .3s linear;

  color: rgba(0, 0, 0, 1);
}

nav a {
  text-decoration: none;
}
