

h1 {
  font-size: 40px;
	font-weight: bold;
  color: pink;
  font-family: "PT Sans Caption", sans-serif;
}

p:first-of-type {
	color: gray;
	opacity: 1;
}

h2 {
	font-size: 30px;
	font-weight:bold;
	font-family: "PT Sans", sans-serif;
	margin-bottom: 10px
}

h3 {
	font-size: 25px;
	font-weight:bold;
	font-family: "PT Sans", sans-serif;
	margin-bottom: 10px;
}

h4 {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight:bold;
	font-family: "PT Sans", sans-serif;
}

p:first-of-type {
  font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 1,5;
	margin: 9px 0 45px 0;
}

p {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: normal;

}

p {
	margin-bottom: 52px
}

a {
	color: black;
}

body {
	width: 700px;
	margin-top: 68px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

li {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	margin: 7px 0 45px 0;
	list-style-type: disc;
}

blockquote {
	padding-right: 20px;
	padding-left: 20px;
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 1,5;
	margin: 7px 0 45px 0;
	font-style: italic;
}

blockquote::before {
	content: '\201c';
	font-size: 35px;
}

blockquote::after {
	content: '\201d';
	font-size: 35px;
}

h1 {
	margin-bottom: 15px;
}
